{{!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    {{body}}
  </body>
</html>
 --}}





<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Signup</title>
</head>
<body>
  <div class="navbar">
    <a href="home.html">Home</a>
    <a href="login.html">Login</a>
    <a href="signup.html">Signup</a>
  </div>
  <div class="content">
    <h2>Signup</h2>


    <form action="/api-v1/register/createuser" method="post">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName"><br><br>

      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName"><br><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>

      <input type="submit" value="Signup">
    </form>
  </div>
  
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <script>
    $(document).ready(function () {
      $('form').submit(function (event) {
        event.preventDefault(); // Prevent the default form submission behavior
  
        // Collect form data
        const firstName = $('#firstName').val();
        const lastName = $('#lastName').val();
        const email = $('#email').val();
        const password = $('#password').val();
  
        const userData = {
          firstName: firstName,
          lastName: lastName,
          email: email,
          password: password
        };
  
        // Send AJAX request to the API
        $.ajax({
          url: 'http://localhost:3000/api-v1/register/createuser',
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          data: JSON.stringify(userData),
  
          success: function (response) {
            
            console.log(userData);
            // You can handle the success response here (e.g., show a success message)
          },
          error: function (error) {
            console.error("error");
            // You can handle the error response here (e.g., show an error message)
          }
        });
      });
    });
  </script>
</body>
</html>
